<web-app>
    <display-name>Game shop web app</display-name>
    <context-param>
        <description>Path where videogame pictures are saved</description>
        <param-name>game-pic-path</param-name>
        <param-value>C:\Users\acris\Dropbox\apache-tomcat-10.1.8\webapps\game-shop_data\games</param-value>
    </context-param>
    <context-param>
        <description>Path where client pictures are saved</description>
        <param-name>client-pic-path</param-name>
        <param-value>C:\Users\acris\Dropbox\apache-tomcat-10.1.8\webapps\game-shop_data\clients</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.svalero.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.svalero.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
